In [1]:
import requests
import time
import tqdm
import pandas as pd
import os
import json
from bs4 import BeautifulSoup
import pandas as pd

import re

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## saving all the urls for flats in copenhagen

In [2]:
# Base URL using an f-string
base_url = 'https://www.boligsiden.dk/kommune/albertslund/solgte/ejerlejlighed?sortAscending=false&yearSoldFrom=2015&yearSoldTo=2023&registrationTypes=normal&page={page_number}'

# Create an empty list to store all article URLs
list_of_article_urls = []

number_pages = 12

# Loop through pages from 1 to 500
for page_number in tqdm.tqdm(range(1, number_pages+1)):
    # Define the URL for the current page using the f-string
    url = base_url.format(page_number=page_number)
    
    # Connect to the page
#     response = requests.get(url)
    
    #
    try:
        response = requests.get(url)
    except Exception as e:
        print(url) #Print url
        print(e) #Print error
        with open("list_of_article_urls", "w") as l: #Save the list_htmls as a json file to retrieve at another time
            json.dump(list_of_article_urls, l)
        continue #Continue to next iteration of the loop
    #
    
    
    # Parse data with BeautifulSoup
    soup = BeautifulSoup(response.content, 'lxml')
    
    # Find all articles on the page
    articles = soup.find_all('div', class_='shadow overflow-hidden mx-4')
    
    # Append the article URLs to the list
    for article in articles:
        article_url = article.find('a')['href']
        list_of_article_urls.append(article_url)

# Now, list_of_article_urls contains all the article URLs from pages 1 to 500
print("Total number of articles:", len(list_of_article_urls))

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:19<00:00,  1.65s/it]

Total number of articles: 238

## saving the right url code and delete duplicates

In [3]:
base_url = 'https://www.boligsiden.dk'

list_of_article_urls = [base_url + url for url in list_of_article_urls]

list_of_article_urls = list(set(list_of_article_urls))

## scrappe standard information

In [4]:
import requests
from bs4 import BeautifulSoup
import re
import tqdm

# Create empty lists for the information we want to extract for every article
adresse_list = []
kvdm_list = []

# Iterate through each article URL
for article_url in tqdm.tqdm(list_of_article_urls):
    try:
        # Fetch HTML content from the article URL
        response = requests.get(article_url)
        response.raise_for_status()  # Raise an exception for HTTP errors

        # Create a BeautifulSoup object to parse the HTML
        soup = BeautifulSoup(response.text, "html.parser")

        # Find elements with the specified classes and extract their text content
        element_1 = soup.find(class_="font-bold text-sm md:text-base")
        text_content_1 = element_1.get_text(strip=True) if element_1 else None

        element_2 = soup.find(class_="mt-1 text-xs md:text-sm text-gray-600")
        text_content_2 = element_2.get_text(strip=True) if element_2 else None

        # Combine the text content with a space between them
        combined_text = ' '.join(filter(None, [text_content_1, text_content_2]))

        # Append combined_text to adresse_list
        adresse_list.append(combined_text)

        # Regular expression pattern to find numbers before "m²"
        pattern = r'(\d+)\s*m²'  # Grouping the digits

        # Find all matches
        matches = re.findall(pattern, response.text)

        # Append only the first number from each match to kvdm_list
        if matches:
            kvdm_list.append(int(matches[0]))
        else:
            kvdm_list.append(None)

    except requests.RequestException as e:
        print(f"Error fetching content for {article_url}: {e}")

# Now, adresse_list contains the text content of the elements with classes
# "font-bold text-sm md:text-base" and "mt-1 text-xs md:text-sm text-gray-600"
# with a space between them for each article URL
# print(adresse_list)

# Now, kvdm_list contains the first number found before "m²" for each article URL
# Converted to integers where possible, and None where no match was found
# print(kvdm_list)

100%|████████████████████████████████████████████████████████████████████████████████| 238/238 [02:30<00:00,  1.58it/s]

## DataFrame

In [5]:
# df.to_csv('København_kom.csv', index=False)

In [6]:
# Regular expression pattern to capture the desired part of each address
pattern = r'^[\wæøåÆØÅ\s]+\s\d+'

# Extract the desired part of each address
extracted_addresses = []
for address in adresse_list:
    match = re.match(pattern, address)
    if match:
        extracted_addresses.append(match.group(0))
    else:
        extracted_addresses.append(None)

        
short_addresses = list(set(extracted_addresses))

# Print the length of extracted addresses and adresse_list
# print(len(extracted_addresses), len(adresse_list))
# print(extracted_addresses)

In [7]:
print(len(short_addresses), len(adresse_list))

38 238

In [8]:
# Assuming that all lists have the same length
data = {
    'URL': list_of_article_urls,
    'Adresse': adresse_list,
    'Kort adresse': extracted_addresses,
    'Kvdm': kvdm_list
}

# Create DataFrame
df = pd.DataFrame(data)
df = df[df['Kort adresse'].notna()]
# Print DataFrame
df[:6]
# df.to_csv('København_kom.csv', index=False)

,URL,Adresse,Kort adresse,Kvdm
0,https://www.boligsiden.dk/adresse/topperne-15-...,"Topperne 15, 3. 31. 2620 Albertslund",Topperne 15,100
1,https://www.boligsiden.dk/adresse/topperne-10-...,"Topperne 10, 1. 12. 2620 Albertslund",Topperne 10,49
2,https://www.boligsiden.dk/adresse/topperne-26-...,"Topperne 26, st. 4. 2620 Albertslund",Topperne 26,49
3,https://www.boligsiden.dk/adresse/topperne-5-0...,"Topperne 5, st. 4. 2620 Albertslund",Topperne 5,49
4,https://www.boligsiden.dk/adresse/topperne-13-...,"Topperne 13, 3. 33. 2620 Albertslund",Topperne 13,100
5,https://www.boligsiden.dk/adresse/linde-alle-1...,"Linde Alle 10, 1. 2620 Albertslund",Linde Alle 10,76

## optimere korteadresser så man ikke slår lejligheder i i samme opgang op to gange

In [9]:
data1 = {
    'Kort adresse': short_addresses
}
df1 = pd.DataFrame(data1)
# df1

In [10]:
import googlemaps
# Initialize Google Maps API client
gmaps = googlemaps.Client(key='AIzaSyAkzxBl6dpAhqaPG3WQEDPsaK3pRsJoMjw')  # Replace 'YOUR_API_KEY' with your actual API key

# Function to geocode addresses and retrieve coordinates
def geocode_address(address):
    try:
        # Geocode address
        geocode_result = gmaps.geocode(address)
        if geocode_result:
            # Extract latitude and longitude from geocode result
            location = geocode_result[0]['geometry']['location']
            return location['lat'], location['lng']
        else:
            return None, None
    except Exception as e:
        print(f"Error geocoding address '{address}': {e}")
        return None, None

# Apply geocode_address function to 'Kort adresse' column and store results in new columns 'Latitude' and 'Longitude'
geocoded_results = df1['Kort adresse'].apply(geocode_address)

# Add Latitude and Longitude to DataFrame
df1['Latitude'], df1['Longitude'] = zip(*geocoded_results)

# Save df1 as a CSV file
df1.to_csv('df1_geocoded.csv', index=False)

# Print DataFrame with new coordinates columns
df1

         Kort adresse   Latitude  Longitude
0          Topperne 4  55.671201  12.340884
1        Linde Alle 6  55.819187  12.533844
2          Topperne 1  55.672281  12.341429
3    Lange Eng 9 2620  55.664571  12.343177
4   Lange Eng 27 2620  55.664868  12.343410
5         Topperne 20  55.671002  12.342387
6         Topperne 30  55.670730  12.342975
7          Topperne 2  55.671393  12.340986
8         Topperne 12  55.671118  12.341608
9          Topperne 3  55.672586  12.341545
10   Tornegårdsvej 59  55.670012  12.356989
11         Topperne 6  55.670978  12.340801
12        Topperne 15  55.672364  12.343719
13         Topperne 9  55.672108  12.342886
14        Topperne 13  55.672026  12.343611
15        Topperne 24  55.670608  12.342185
16        Topperne 11  55.672438  12.342994
17        Topperne 32  55.670605  12.342939
18         Topperne 5  55.672173  12.342195
19        Topperne 18  55.671288  12.342471
20  Lange Eng 33 2620  55.664928  12.343338
21        Topperne 10  55.671366  12.341759
22        Topperne 26  55.670964  12.343014
23   Tornegårdsvej 60  55.670345  12.356639
24        Topperne 14  55.670913  12.341543
25  Lange Eng 45 2620  55.665107  12.343376
26        Topperne 22  55.670831  12.342252
27        Topperne 28  55.670944  12.343041
28   Tornegårdsvej 61  55.669953  12.356793
29      Linde Alle 10  55.818910  12.533846
30         Topperne 8  55.670729  12.340732
31        Topperne 16  55.670682  12.341460
32         Topperne 7  55.672503  12.342267
33  Lange Eng 21 2620  55.664763  12.343302
34  Lange Eng 49 2620  55.665140  12.343372
35  Lange Eng 23 2620  55.664809  12.343398
36   Lange Eng 3 2620  55.664507  12.343090
37  Lange Eng 43 2620  55.665105  12.343452

In [11]:
# Merge the two DataFrames on the 'Kort adresse' column using a left join
combined_df = pd.merge(df, df1, on='Kort adresse', how='left')

# Print the combined DataFrame
combined_df

,URL,Adresse,Kort adresse,Kvdm,Latitude,Longitude
0,https://www.boligsiden.dk/adresse/topperne-15-...,"Topperne 15, 3. 31. 2620 Albertslund",Topperne 15,100,55.672364,12.343719
1,https://www.boligsiden.dk/adresse/topperne-10-...,"Topperne 10, 1. 12. 2620 Albertslund",Topperne 10,49,55.671366,12.341759
2,https://www.boligsiden.dk/adresse/topperne-26-...,"Topperne 26, st. 4. 2620 Albertslund",Topperne 26,49,55.670964,12.343014
3,https://www.boligsiden.dk/adresse/topperne-5-0...,"Topperne 5, st. 4. 2620 Albertslund",Topperne 5,49,55.672173,12.342195
4,https://www.boligsiden.dk/adresse/topperne-13-...,"Topperne 13, 3. 33. 2620 Albertslund",Topperne 13,100,55.672026,12.343611
...,...,...,...,...,...,...
233,https://www.boligsiden.dk/adresse/topperne-32-...,"Topperne 32, 1. 14. 2620 Albertslund",Topperne 32,49,55.670605,12.342939
234,https://www.boligsiden.dk/adresse/topperne-26-...,"Topperne 26, 1. 13. 2620 Albertslund",Topperne 26,97,55.670964,12.343014
235,https://www.boligsiden.dk/adresse/topperne-10-...,"Topperne 10, 2. 22. 2620 Albertslund",Topperne 10,49,55.671366,12.341759
236,https://www.boligsiden.dk/adresse/topperne-6-3...,"Topperne 6, 3. 34. 2620 Albertslund",Topperne 6,49,55.670978,12.340801
237,https://www.boligsiden.dk/adresse/tornegaardsv...,"Tornegårdsvej 59, 1. 2620 Albertslund",Tornegårdsvej 59,78,55.670012,12.356989

In [12]:
combined_df['Kommune'] = 'Albertslund'
combined_df.to_csv('Albertslund_kom.csv', index=False)
combined_df

,URL,Adresse,Kort adresse,Kvdm,Latitude,Longitude,Kommune
0,https://www.boligsiden.dk/adresse/topperne-15-...,"Topperne 15, 3. 31. 2620 Albertslund",Topperne 15,100,55.672364,12.343719,Albertslund
1,https://www.boligsiden.dk/adresse/topperne-10-...,"Topperne 10, 1. 12. 2620 Albertslund",Topperne 10,49,55.671366,12.341759,Albertslund
2,https://www.boligsiden.dk/adresse/topperne-26-...,"Topperne 26, st. 4. 2620 Albertslund",Topperne 26,49,55.670964,12.343014,Albertslund
3,https://www.boligsiden.dk/adresse/topperne-5-0...,"Topperne 5, st. 4. 2620 Albertslund",Topperne 5,49,55.672173,12.342195,Albertslund
4,https://www.boligsiden.dk/adresse/topperne-13-...,"Topperne 13, 3. 33. 2620 Albertslund",Topperne 13,100,55.672026,12.343611,Albertslund
...,...,...,...,...,...,...,...
233,https://www.boligsiden.dk/adresse/topperne-32-...,"Topperne 32, 1. 14. 2620 Albertslund",Topperne 32,49,55.670605,12.342939,Albertslund
234,https://www.boligsiden.dk/adresse/topperne-26-...,"Topperne 26, 1. 13. 2620 Albertslund",Topperne 26,97,55.670964,12.343014,Albertslund
235,https://www.boligsiden.dk/adresse/topperne-10-...,"Topperne 10, 2. 22. 2620 Albertslund",Topperne 10,49,55.671366,12.341759,Albertslund
236,https://www.boligsiden.dk/adresse/topperne-6-3...,"Topperne 6, 3. 34. 2620 Albertslund",Topperne 6,49,55.670978,12.340801,Albertslund
237,https://www.boligsiden.dk/adresse/tornegaardsv...,"Tornegårdsvej 59, 1. 2620 Albertslund",Tornegårdsvej 59,78,55.670012,12.356989,Albertslund

## scrappe priserne