In [1]:
import requests
import time
import tqdm
import pandas as pd
import os
import json
from bs4 import BeautifulSoup
import pandas as pd

import re

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## saving all the urls for flats in copenhagen

In [2]:
# Base URL using an f-string
base_url = 'https://www.boligsiden.dk/kommune/ballerup/solgte/ejerlejlighed?sortAscending=false&yearSoldFrom=2015&yearSoldTo=2023&registrationTypes=normal&page={page_number}'

# Create an empty list to store all article URLs
list_of_article_urls = []

number_pages = 23

# Loop through pages from 1 to 500
for page_number in tqdm.tqdm(range(1, number_pages+1)):
    # Define the URL for the current page using the f-string
    url = base_url.format(page_number=page_number)
    
    # Connect to the page
#     response = requests.get(url)
    
    #
    try:
        response = requests.get(url)
    except Exception as e:
        print(url) #Print url
        print(e) #Print error
        with open("list_of_article_urls", "w") as l: #Save the list_htmls as a json file to retrieve at another time
            json.dump(list_of_article_urls, l)
        continue #Continue to next iteration of the loop
    #
    
    
    # Parse data with BeautifulSoup
    soup = BeautifulSoup(response.content, 'lxml')
    
    # Find all articles on the page
    articles = soup.find_all('div', class_='shadow overflow-hidden mx-4')
    
    # Append the article URLs to the list
    for article in articles:
        article_url = article.find('a')['href']
        list_of_article_urls.append(article_url)

# Now, list_of_article_urls contains all the article URLs from pages 1 to 500
print("Total number of articles:", len(list_of_article_urls))

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [00:19<00:00,  1.17it/s]

Total number of articles: 449

## saving the right url code and delete duplicates

In [3]:
base_url = 'https://www.boligsiden.dk'

list_of_article_urls = [base_url + url for url in list_of_article_urls]

list_of_article_urls = list(set(list_of_article_urls))

## scrappe standard information

In [4]:
import requests
from bs4 import BeautifulSoup
import re
import tqdm

# Create empty lists for the information we want to extract for every article
adresse_list = []
kvdm_list = []

# Iterate through each article URL
for article_url in tqdm.tqdm(list_of_article_urls):
    try:
        # Fetch HTML content from the article URL
        response = requests.get(article_url)
        response.raise_for_status()  # Raise an exception for HTTP errors

        # Create a BeautifulSoup object to parse the HTML
        soup = BeautifulSoup(response.text, "html.parser")

        # Find elements with the specified classes and extract their text content
        element_1 = soup.find(class_="font-bold text-sm md:text-base")
        text_content_1 = element_1.get_text(strip=True) if element_1 else None

        element_2 = soup.find(class_="mt-1 text-xs md:text-sm text-gray-600")
        text_content_2 = element_2.get_text(strip=True) if element_2 else None

        # Combine the text content with a space between them
        combined_text = ' '.join(filter(None, [text_content_1, text_content_2]))

        # Append combined_text to adresse_list
        adresse_list.append(combined_text)

        # Regular expression pattern to find numbers before "m²"
        pattern = r'(\d+)\s*m²'  # Grouping the digits

        # Find all matches
        matches = re.findall(pattern, response.text)

        # Append only the first number from each match to kvdm_list
        if matches:
            kvdm_list.append(int(matches[0]))
        else:
            kvdm_list.append(None)

    except requests.RequestException as e:
        print(f"Error fetching content for {article_url}: {e}")

# Now, adresse_list contains the text content of the elements with classes
# "font-bold text-sm md:text-base" and "mt-1 text-xs md:text-sm text-gray-600"
# with a space between them for each article URL
# print(adresse_list)

# Now, kvdm_list contains the first number found before "m²" for each article URL
# Converted to integers where possible, and None where no match was found
# print(kvdm_list)

100%|████████████████████████████████████████████████████████████████████████████████| 449/449 [03:27<00:00,  2.16it/s]

## DataFrame

In [5]:
# df.to_csv('København_kom.csv', index=False)

In [6]:
# Regular expression pattern to capture the desired part of each address
pattern = r'^[\wæøåÆØÅ\s]+\s\d+'

# Extract the desired part of each address
extracted_addresses = []
for address in adresse_list:
    match = re.match(pattern, address)
    if match:
        extracted_addresses.append(match.group(0))
    else:
        extracted_addresses.append(None)

        
short_addresses = list(set(extracted_addresses))

# Print the length of extracted addresses and adresse_list
# print(len(extracted_addresses), len(adresse_list))
# print(extracted_addresses)

In [7]:
print(len(short_addresses), len(adresse_list))

152 449

In [8]:
# Assuming that all lists have the same length
data = {
    'URL': list_of_article_urls,
    'Adresse': adresse_list,
    'Kort adresse': extracted_addresses,
    'Kvdm': kvdm_list
}

# Create DataFrame
df = pd.DataFrame(data)
df = df[df['Kort adresse'].notna()]
# Print DataFrame
df[:6]
# df.to_csv('København_kom.csv', index=False)

,URL,Adresse,Kort adresse,Kvdm
0,https://www.boligsiden.dk/adresse/gl-raadhusve...,"Gl Rådhusvej 54, 1. th. 2750 Ballerup",Gl Rådhusvej 54,76
1,https://www.boligsiden.dk/adresse/soendergaard...,Søndergårds Allé 184 2760 Måløv,Søndergårds Allé 184 2760,100
2,https://www.boligsiden.dk/adresse/soendergaard...,"Søndergårds Allé 27, 1. th. 2760 Måløv",Søndergårds Allé 27,109
3,https://www.boligsiden.dk/adresse/soendergaard...,"Søndergårds Allé 55, 3. th. 2760 Måløv",Søndergårds Allé 55,82
4,https://www.boligsiden.dk/adresse/hoejagerpark...,"Højagerparken 25, 2. tv. 2750 Ballerup",Højagerparken 25,105
5,https://www.boligsiden.dk/adresse/marbaekvej-4...,"Marbækvej 4, 1. 1. 2750 Ballerup",Marbækvej 4,62

## optimere korteadresser så man ikke slår lejligheder i i samme opgang op to gange

In [9]:
data1 = {
    'Kort adresse': short_addresses
}
df1 = pd.DataFrame(data1)
# df1

In [10]:
import googlemaps
# Initialize Google Maps API client
gmaps = googlemaps.Client(key='AIzaSyAkzxBl6dpAhqaPG3WQEDPsaK3pRsJoMjw')  # Replace 'YOUR_API_KEY' with your actual API key

# Function to geocode addresses and retrieve coordinates
def geocode_address(address):
    try:
        # Geocode address
        geocode_result = gmaps.geocode(address)
        if geocode_result:
            # Extract latitude and longitude from geocode result
            location = geocode_result[0]['geometry']['location']
            return location['lat'], location['lng']
        else:
            return None, None
    except Exception as e:
        print(f"Error geocoding address '{address}': {e}")
        return None, None

# Apply geocode_address function to 'Kort adresse' column and store results in new columns 'Latitude' and 'Longitude'
geocoded_results = df1['Kort adresse'].apply(geocode_address)

# Add Latitude and Longitude to DataFrame
df1['Latitude'], df1['Longitude'] = zip(*geocoded_results)

# Save df1 as a CSV file
df1.to_csv('df1_geocoded.csv', index=False)

# Print DataFrame with new coordinates columns
df1

Error geocoding address 'None': HTTP Error: 400

                  Kort adresse   Latitude  Longitude
0    Søndergårds Allé 168 2760  55.747279  12.313134
1             Højagerparken 63  55.734943  12.359781
2               Hybenvænget 45  55.714754  12.391726
3          Nygårdsvej 61B 2750  55.734580  12.353679
4             Højagerparken 33  55.735750  12.360543
..                         ...        ...        ...
147           Højagerparken 85  55.734716  12.359006
148  Søndergårds Allé 166 2760  55.747507  12.312788
149            Højagerparken 3  55.734011  12.361007
150            Bydammen 7 2750  55.733454  12.361778
151         Måløv Hovedgade 54  55.749199  12.319928

[152 rows x 3 columns]

In [11]:
# Merge the two DataFrames on the 'Kort adresse' column using a left join
combined_df = pd.merge(df, df1, on='Kort adresse', how='left')

# Print the combined DataFrame
combined_df

,URL,Adresse,Kort adresse,Kvdm,Latitude,Longitude
0,https://www.boligsiden.dk/adresse/gl-raadhusve...,"Gl Rådhusvej 54, 1. th. 2750 Ballerup",Gl Rådhusvej 54,76,55.730530,12.367707
1,https://www.boligsiden.dk/adresse/soendergaard...,Søndergårds Allé 184 2760 Måløv,Søndergårds Allé 184 2760,100,55.747037,12.312444
2,https://www.boligsiden.dk/adresse/soendergaard...,"Søndergårds Allé 27, 1. th. 2760 Måløv",Søndergårds Allé 27,109,55.745390,12.319798
3,https://www.boligsiden.dk/adresse/soendergaard...,"Søndergårds Allé 55, 3. th. 2760 Måløv",Søndergårds Allé 55,82,55.747140,12.316748
4,https://www.boligsiden.dk/adresse/hoejagerpark...,"Højagerparken 25, 2. tv. 2750 Ballerup",Højagerparken 25,105,55.734790,12.360878
...,...,...,...,...,...,...
434,https://www.boligsiden.dk/adresse/klokkerhaven...,"Klokkerhaven 2E, 2. th. 2750 Ballerup",Klokkerhaven 2,87,55.735124,12.359329
435,https://www.boligsiden.dk/adresse/hoejagerpark...,"Højagerparken 51, 1. tv. 2750 Ballerup",Højagerparken 51,97,55.734601,12.360133
436,https://www.boligsiden.dk/adresse/hoejagerpark...,"Højagerparken 55, st. 2750 Ballerup",Højagerparken 55,72,55.734873,12.360046
437,https://www.boligsiden.dk/adresse/tvendagervej...,Tvendagervej 1A 2750 Ballerup,Tvendagervej 1A 2750,82,55.754971,12.341215
438,https://www.boligsiden.dk/adresse/bydammen-7a-...,"Bydammen 7A, 1. th. 2750 Ballerup",Bydammen 7,81,55.733454,12.361778

In [12]:
combined_df['Kommune'] = 'Ballerup'
combined_df.to_csv('Ballerup_kom.csv', index=False)
combined_df

,URL,Adresse,Kort adresse,Kvdm,Latitude,Longitude,Kommune
0,https://www.boligsiden.dk/adresse/gl-raadhusve...,"Gl Rådhusvej 54, 1. th. 2750 Ballerup",Gl Rådhusvej 54,76,55.730530,12.367707,Ballerup
1,https://www.boligsiden.dk/adresse/soendergaard...,Søndergårds Allé 184 2760 Måløv,Søndergårds Allé 184 2760,100,55.747037,12.312444,Ballerup
2,https://www.boligsiden.dk/adresse/soendergaard...,"Søndergårds Allé 27, 1. th. 2760 Måløv",Søndergårds Allé 27,109,55.745390,12.319798,Ballerup
3,https://www.boligsiden.dk/adresse/soendergaard...,"Søndergårds Allé 55, 3. th. 2760 Måløv",Søndergårds Allé 55,82,55.747140,12.316748,Ballerup
4,https://www.boligsiden.dk/adresse/hoejagerpark...,"Højagerparken 25, 2. tv. 2750 Ballerup",Højagerparken 25,105,55.734790,12.360878,Ballerup
...,...,...,...,...,...,...,...
434,https://www.boligsiden.dk/adresse/klokkerhaven...,"Klokkerhaven 2E, 2. th. 2750 Ballerup",Klokkerhaven 2,87,55.735124,12.359329,Ballerup
435,https://www.boligsiden.dk/adresse/hoejagerpark...,"Højagerparken 51, 1. tv. 2750 Ballerup",Højagerparken 51,97,55.734601,12.360133,Ballerup
436,https://www.boligsiden.dk/adresse/hoejagerpark...,"Højagerparken 55, st. 2750 Ballerup",Højagerparken 55,72,55.734873,12.360046,Ballerup
437,https://www.boligsiden.dk/adresse/tvendagervej...,Tvendagervej 1A 2750 Ballerup,Tvendagervej 1A 2750,82,55.754971,12.341215,Ballerup
438,https://www.boligsiden.dk/adresse/bydammen-7a-...,"Bydammen 7A, 1. th. 2750 Ballerup",Bydammen 7,81,55.733454,12.361778,Ballerup

## scrappe priserne